
<div collapse="!isHelpCollapsed">
    <div class="well well-lg">
        <h4>Working With TurboTank</h4>
        <p>Here is documentation about how to use TurboTank.</p>
    </div>
</div>

<div class="well container">
    <form>
        <div class="row">
            <input class="input-sm" ng-model="gameId" placeholder="New game ID" validate>
            <input class="input-sm" ng-model="server">
            <input class="input-sm" ng-model="port">
            <button class="btn btn-default btn-sm" ng-click="startGame(server, port, gameId)"><span class="glyphicon glyphicon-cloud-upload"></span> Join</button>
        </div>
    </form>
</div>

